@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  --white: #fff;
  --black: #000;
  --stone750: #262626;
  --grey550: #a2a2a2;
  --stone850: #232323;
  --purple850: #6432ab;
  --purple-gradient: linear-gradient(131deg, #7b38da 0%, #5c06d4 100%);
  --border-b-color: #373737;
  --error-color-message: #f31259;
  --backgroundColor: var(--stone850);
  --accent-color: var(--purple-gradient);
  --text-color-grey: var(--grey550);
  --border-radius: 100px;
  -font-family: "Inter", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --shadow-bg: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  caret-color: white;
  font-family: var(--second-family);
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  0%,
  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sideBar {
  animation: grow-progress auto linear;
  animation-timeline: scroll();
  animation-range: cover 0% cover 100%;
}

/* переопределение цвета пагинации */
.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--white);
}

/* input autofill, убираем фон у автозаполнения*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: white;
  -webkit-border-image: none;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-background-clip: text;
}
/* убрать стрелки для input number */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Стили кастомного чекбокса */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  padding-top: 2.4vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5vw;
  right: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

input[type="file"] {
  opacity: 0;
  top: -40px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  font-size: 0;
  position: absolute;
}
